body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

 iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

.content {
    position: relative;
    z-index: 1;
   
}

.social-buttons {
    position: absolute;
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 2; 
}

.social-button {
    margin: 0 10px;
}

.social-icon {
    width: 60px; 
    height: 60px; 
}

.overlay-image {
    position: absolute;
    bottom: 5px; 
    left: 50%; 
	width: 100%;
    transform: translateX(-50%); 
    z-index: 1; 
}